* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.avatar {
  width: 300px;
  height: 300px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.list {
  font-size: 18px;
}

section {
  margin-top: 20px;
}
