* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(./assets/img/bg.jpeg) no-repeat 50% / cover;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
}

.section {
  padding-top: 120px;
}

.wrapper1 {
  width: 90%;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-link {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s;
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  color: #547aff;
  text-decoration: overline;
}

.wrapper {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  font-size: 46px;
}

.intro-subtitle {
  font-size: 32px;
}

.avatar {
  height: 300px;
  width: 300px;
}

.photo {
  padding-right: 30px;
}

/* .contact-list {
  list-style-type: none;
  line-height: 23px;
} */

/* .contact-link {
  text-decoration: none;
  color: #ffffff;
} */

.divider {
  width: 100%;
  border-bottom: 1px solid #9554ff;
  margin: 20px 0;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.summary-block {
  min-width: 90%;
  background: url(./assets/img/bg.jpeg) no-repeat 70% / cover;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.skills-list {
  list-style-type: none;
  line-height: 23px;
}

.skills-item > img {
  height: 70px;
  width: 70px;
  overflow: hidden;
  cursor: pointer;
  transition: 2s;
}

.skills-item > img:hover {
  opacity: 0.7;
  transform: rotate(360deg);
}

.skills-list {
  display: inline-grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 28px;
  align-items: center;
  justify-items: center;
  width: 100%;
}

pre code {
  font-size: 18px;
}

pre code.hljs {
  background: url(./assets/img/bg.jpeg) no-repeat 10% / cover;
  border-radius: 10px;
  padding: 0;
}

.code-subtitle {
  text-align: center;
}

.experience-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-column > ul {
  list-style-type: none;
}

.experience-wrapper {
  display: grid;
  padding: 0 65px 0 65px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
}

.experience-head {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.experience-text {
  margin-left: 20px;
  line-height: 22px;
}

.experience-body {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

.experience-subtitle {
  margin-bottom: 20px;
  text-align: center;
}

.experience-subtitle:hover {
  color: #547aff;
  text-decoration: overline;
  cursor: pointer;
}
